.heading {
    /* background-color: brown; */
    margin-top: 20px;
    font-family: fantasy;
}
.recos {
    background-image:url("https://cdn.shopify.com/s/files/1/0839/5903/products/978143888360_1000x.jpg?v=1629296212") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
opacity: 0.80;
    

    
}
.recos {
    margin-left: auto;
    margin-right: auto;
    
}

.recos img{
    height: 100%;
    opacity: 0.8;
    width: 90%;

}
.recommend{
    border-radius: 22.5%;
    /* display: flex; */
    /* border: solid lightgrey 1px; */
    margin-left: 16.3%;
    margin-right: 16.3%;

}

